:root {
  --desaturated-dark-cyan: hsl(180, 29%, 50%);
  --light-grayish-cyan-1: hsl(180, 52%, 96%);
  --light-grayish-cyan-2: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
}

/* * {
  border: 1px solid green;
} */

.App {
  text-align: center;
  background-color: var(--light-grayish-cyan-2);
}

.card {
  font-family: 'League Spartan',  sans-serif;
  font-size: 15px;
  width: 80%;
  margin: 10px auto;
  display: flex;   
  align-items: center;
  background-color: #fff; 
}

.logo {
   width: 15%;
}

.job-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
}

.info {
  display: flex; 
  align-items: flex-start;
  flex-direction: column; 
  justify-content: center;  
}

.job-details ul {
  display: flex;
  padding: 0;
}

.job-details ul li {  
  margin-right: 20px;
}

.job-details ul li:first-child {
  list-style-type: none;
}

h1 {
  color: var(--desaturated-dark-cyan);
  font-size: 1rem;
}

h2 {
  color: var(--very-dark-grayish-cyan);
  font-size: 1.2rem;
}
.languages-and-tools {
  display: flex;
  justify-items: flex-end;
  align-items: center;    
}

.languages-and-tools li { 
  list-style-type: none;
  margin-right: 10px;  
  background-color: var(--light-grayish-cyan-2);
  color: var(--very-dark-grayish-cyan);
  padding: 3px;
  border: 3px;
}
