/* - Desaturated Dark Cyan: hsl(180, 29%, 50%)
- Light Grayish Cyan (Background): hsl(180, 52%, 96%) 

- Light Grayish Cyan (Filter Tablets): hsl(180, 31%, 95%) 

- Dark Grayish Cyan: hsl(180, 8%, 52%) 
- Very Dark Grayish Cyan: hsl(180, 14%, 20%) */

:root {
  --desaturated-dark-cyan: hsl(180, 29%, 50%);
  --light-grayish-cyan-1: hsl(180, 29%, 50%);
  --light-grayish-cyan-2: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
}

* {
  border: 1px solid green;
}


.App {
  text-align: center;
  background-color: var(--light-grayish-cyan-2);
}

.App {
  background-color: var()
}
.card {
  font-family: 'League Spartan',  sans-serif;
  font-size: 10px;
  width: 80%;
  margin: 10px auto;
  border: 1px solid red;
  display: flex;    
  align-items: center;
  background-color: #fff; 
}

.logo {
   width: 15%;
}

.info {
  display: flex; 
  align-items: flex-start;
  flex-direction: column;
 
}
.job-details ul {
  display: flex;
  padding: 0;
}

.job-details ul li {  
  margin-right: 20px;
}

.job-details ul li:first-child {
  list-style-type: none;
}

.job-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.languages-and-tools {
  display: flex; 
  align-items: center; 
  
}

.languages-and-tools div {  
  margin-right: 10px;
  
}
